html,
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}



.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  border-radius: 15px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  font-size: 18px;
  color: #555555;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='number'],
input[type='submit'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

input[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

input[type='submit']:hover {
  background-color: #3da1e1;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

p {
  font-size: 18px;
  color: #555555;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

ul#sportList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

ul#sportList li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ul#sportList li:hover {
  background-color: #e0e0e0;
}

.selected-event {
  background-color: #00cc00;
  color: #00cc00;
  font-weight: bold;
}

.logout-link {
  color: #337ab7;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.logout-link:hover {
  color: #286090;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-picture-container {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Add the following to maintain aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
}

#profilePicture {
  /* Change the following to cover the entire container without stretching */
  width: auto;
  height: 100%;
  object-fit: cover;
}

#profilePictureInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  border-radius: 15px;
}

.profile-picture-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.profile-picture-button:hover {
  background-color: #3da1e1;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.selected-sports-list li {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selected-sports-list li:hover {
  background-color: #e0e0e0;
}

.selected-sports-list li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.selected-sports-list li a:hover {
  color: #00cc00; /* Change the color on hover as desired */
}

.time-date {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #ffffff; /* Change the color as desired */
}

/* Add the following CSS styles to the existing style.css file */

.age-bracket-section {
  display: none;
  margin-top: 20px;
}

.age-bracket-section label {
  display: block;
  font-size: 18px;
  color: #555555;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.age-bracket-section select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
